@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Black.ttf')
}

.App{
  background-color: #11071F;
  display: flex;
  justify-content: center;
}

.App-Header{
  background-color: #1A0B2E;
  width: 60%;
}

.App-Nav{
  list-style-type: none;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}